$primary: #d4445b;
$primary-light: #e17c8c;
$secondary: #81d4f0;
$secondary-light: #a7e1f5;
$background-gray: #eaf0f4;

$size-xs: 2px;
$size-sm: 4px;
$size-md: 8px;
$size-lg: 16px;
$size-xl: 32px;

$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;

$screen-md: 768px;
